@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@font-face {
  font-family: 'Odin';
  src: url('./assets/Odin.otf') format('opentype');
}


/*body {font-family: 'Josefin Sans'}*/

#logo {
  text-shadow: -2px 3px 8px white;
  width: 80vw;
}

.flex-container {
  display: flex;  
  justify-content: center;
}

:root {
   --flap-duration: .2s;
   --repeat: 4; 
   --delay: 0s;
   --direction: alternate;
}


/* LADYBIRDS  */
/* #ORIGIN */
/* These are really finicky, weird parameters that originate in the SVG */
#lbPleftwing,
#lbAleftwing,
#lbYleftwing,
#lbMleftwing {
   transform-origin: 100% 0%;
}

#lbArightwing,
#lbYrightwing,
#lbMrightwing,
#lbAleftwing,
#lbArightwing {
   transform-origin: 0% 0%;
}

#lbPrightwing {
  transform-origin: 90% 0%;
}

.leftFlap {
   animation: left-flap var(--flap-duration)  var(--repeat) var(--direction) var(--delay);
}

.rightFlap {
   animation: right-flap var(--flap-duration)  var(--repeat) var(--direction) var(--delay);
}
.spin {
   transform-origin: center;
   animation: spin 2s 1;
}  
   

/* WING FLAPS */
@keyframes right-flap {
   100% {
     transform: rotate(-30deg);  
   }
}

@keyframes left-flap {
   100% {
     transform: rotate(30deg); 
   }
}

/* SPIN */
@keyframes spin {
   100% {
      transform: rotate(360deg)
   }
}