.flex-container {
  width: 100vw;
  display: flex;
  justify-content: center;  
}

#logo {
  width: 60vw;
}


/* LADYBIRDS  */

:root {
   --flap-duration: .2s;
   --repeat: 4; 
   --delay: 0s;
   --direction: alternate;
}

.spin {
   transform-origin: center;
   animation: spin 2s 1;
}  

#lbPleftwing,
#lbAleftwing,
#lbYleftwing,
#lbMleftwing {
   transform-origin: 100% 0%;
}

#lbPrightwing,
#lbArightwing,
#lbYrightwing,
#lbMrightwing {
   transform-origin: 0% 0%;
}

#lbAleftwing,
#lbArightwing {
   transform-origin: 0% 0%;
}

#lbPrightwing {
transform-origin: 90% 0%;
}

/* #lbAleftwing {
   animation: left-flap var(--flap-duration)  var(--repeat) var(--direction) var(--delay);
} */

.leftFlap {
   animation: left-flap var(--flap-duration)  var(--repeat) var(--direction) var(--delay);
}

.rightFlap {
   animation: right-flap var(--flap-duration)  var(--repeat) var(--direction) var(--delay);
}
   

/* WING FLAPS */
@keyframes right-flap {
   100% {
     transform: rotate(-30deg);  
   }
}

@keyframes left-flap {
   100% {
     transform: rotate(30deg); 
   }
}

/* SPIN */
@keyframes spin {
   100% {
      transform: rotate(360deg)
   }
}